/* DEFAULT SETTINGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row::after {
}

/* HEADER */
header {
  background-color: #0D325A;
}

.logo {
  display: inline-block;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
  text-transform: uppercase;
  font-size: 0.7em;
}

div, ul.menu, li {
  display: inline-block;
}

.flo-right {
  float: right;
}




















/* li{
  list-style: none;
  text-transform: uppercase;
  font-size: 0.7em;
  display: inline-block;
} */



/* nav , .logo {
  display: inline-block;
} */

/* header div section {
  float: right;
} */



/* --- LAYOUT --- */
.container {
  width: 80%;
  margin: 0 auto;
}
