/* DEFAULT SETTINGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row::after {
}

/* HEADER */
header {
  background-color: #0D325A;
}

li{
  list-style: none;
  text-transform: uppercase;
  font-size: 0.7em;
  display: inline-block;
}

a {
  text-decoration: none;
  color: white;
}

.nav , .logo {
  display: inline-block;
}


/* div.logo, ul, li {
  display: inline-block;
} */

/* --- LAYOUT --- */
.container {
  width: 80%;
  margin: 0 auto;
}

/* section.container ul {
  float: right;
} */
